# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# FastAPI / Uvicorn
# =========================
*.log

# =========================
# YOLO / AI artifacts
# =========================
*.pt
runs/
results/
uploads/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Misc
# =========================
.cache/
